AUTH0_CLIENT_ID=
# Auth0 Client ID here, get it from auth0 dashboard at https://auth0.com/
AUTH0_CLIENT_SECRET=
# Auth0 Client Secret here, get it from auth0 dashboard at https://auth0.com/
AUTH0_DOMAIN=
# Auth0 Domain here, get it from auth0 dashboard at https://auth0.com/d